#startquiz {
text-align: center;
margin-top: 80px;
font-size: 40px;
}

#scoretitle {
    text-align:center;
    font-size: 40px;
}

#initials {
    text-align: center;
    font-size: 20px;
}

#initialspage {
    text-align:center;

}

#highscorename{
    font-size: 50px;
    text-align: center;
}

#highscore_score {
    font-size: 50px;
    text-align: center;
}

body {
    background-color: rgb(121, 2, 2);
}